body{
  background-color: whitesmoke;
}
.appointment-head p {
  font-size: 30px;
  font-weight: 700;
}
.appointment-head{
  display: flex;
  justify-content: space-between;
}

.sort_filter{
  height: 30px;
  margin-top: 3%;
}

.sort_filter select{
  margin-left: -5%;
  margin-right: 5%;
}

.appointment-child > table {
  width: 100%;
  font-size: 18px;
  text-align: left;
}

.sort_filter{
  display: flex;
  flex-direction: end;
}

/* ======= Button ======= */

.custom-btn {
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  line-height: 30px;
  border: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.btn-5 {
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}


/* ?===================== TABLE ====================== */
/* Section One*/
table {
    border-collapse: collapse;
    /* border: 1px solid #cdcdcd; */
    font: normal 12px ;
    width: 100%;
    background-color: white;
}
td,
th {
    border: 2px solid #cdcdcd;
    padding: 0.2% 0.2% 0.2% 0.4%;
}

/* ?================== media query ===================== */
/* Section two*/

@media only screen and (max-width: 980px),
(min-device-width: 280px) and (max-device-width: 1024px) {
    /* Section three*/
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Section four*/
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }
  /* Section five*/
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  /* Section six*/

  td:nth-of-type(1):before {
    content: "Client Name";
  }
  td:nth-of-type(2):before {
    content: "Mobile Number";
  }
  td:nth-of-type(3):before {
    content: "Date";
  }
  td:nth-of-type(4):before {
    content: "Start time";
  }
  td:nth-of-type(5):before {
    content: "End time";
  }
  td:nth-of-type(6):before {
    content: "Pending";
  }
  td:nth-of-type(7):before {
    content: "Delete";
  }
}

/* Section seven*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  table{
    width: 100%;
  }
}
/* Section eight*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1204px) {
    table{
        width: 100%;
    }
}
.rejected{
  background: grey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  pointer-events: none;
  user-select: none;
}