body{
  background-color: whitesmoke;
}

.overview-head {
  font-size: 30px;
}

/* ?====== CARDS ====== */

.overview-card-main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5%;
}
.overview-card-child{
  padding: 4% 14%;
  margin-bottom: 6%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.overview-cards{
  display: flex;
  justify-content: space-between;
}
.overview-name{
  font-size: 20px;
}
.overview-name-count{
  font-size: 25px;
  
}
.overview-icon span{
  font-size: 60px;
  margin-top: 35%;
  color: #4e4e4e;
}

 
  /* ------------medium screen------------------- */
  
  @media only screen and (min-width: 800px) and (max-width: 991px) {
    .overview-card-main{
      grid-template-columns: repeat(2,1fr);
      gap: 2.5%;
    }
  }
  
  
  /* ------------small screen------------------- */
    @media only screen and (max-width: 800px) {
      .overview-card-main{
        grid-template-columns: repeat(1,1fr);
      }
    }
    