.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .logo-a-tag img {
    width: 30%;
    margin-top: -20%;
    margin-left: 5%;
  }
  
  .sidenav span{
      margin-right: 5%;
      font-size: 24px;
  }
  .sidenav-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    
  }
  .sidenav-list>li{
    list-style-type: none;
    display: flex;
    padding: 30px 0;
    width: 100%;
    transition: 0.25s ease-in-out;
  }
  .sidenav-list a {
    font-size: 23px;
    text-decoration: none;
    color: #818181;
    display: flex;
    margin-left:20px;
  }
  
  .sidenav-list li:hover, .sidenav-list a:focus {
    color: #f1f1f1a6;
    box-shadow: rgba(62, 62, 106, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
 