*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
   

}
#main_div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 50%;
    margin: auto;
    grid-row-gap: 20px;
    margin-top: 50px;
   
}
#main_div>div{
    /* border: 1px solid black; */
    align-items: center;
    padding: 12px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;

}
#main_div>div>div:nth-child(1){
    width:30%;
    /* border: 1px solid black; */
}
.p_img{
    width: 100%;
    border-radius: 30%;
}
.hour{
    margin: 5px 0px;
}


.profile_btn{
    background-color: rgb(180, 179, 179);
    color: black;
    font-size: 15px;
    padding: 3px 10px;
    border: none;
    margin-bottom: 4px;
    border-radius: 3px;
}
.see_btn{
    background-color: black;
    color: white;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 18px;
    padding: 4px 7px;
    /* margin-left: 250px; */
    border-radius: 3px;
    cursor: pointer;
}
.head{
    font-weight: bolder;
    margin-bottom: 2px;
}
.dark{
    color: gray;
    margin-bottom: 4px;
}
#back_btn{
    background-color: rgb(73, 119, 5);
    border: 1px solid white; 
    cursor: pointer;
}
#parent_div{
    display: flex;
}
#parent_div>div{
    /* border: 1px solid black; */
}
#parent_div>div:nth-child(1){
    margin-left: 10%;
    /* border: 1px solid black; */
    margin-top: 50px;
    
}
#parent_div>div:nth-child(1)>ul{
    margin-left: 30px;
}
#parent_div>div:nth-child(1)>h2{
    font-size: 34px;
    text-decoration: underline;
}
#parent_div>div:nth-child(1)>ul>li{
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}
.category{
    /* border: 1px solid black; */
    height: 280px;
    padding:10px 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#sort{
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: 10px;
}
.sort_head{

    margin-top: 20px;
}
