
.top{
    background-image: url("https://d2ub1k1pknil0e.cloudfront.net/media/images/camera-photography.2e16d0ba.fill-1200x630.format-jpeg.jpg"); 
    background-color: #b0aa44; 
    color: rgb(218, 218, 218);
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", Roboto, sans-serif ;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4rem;

}

#mtext{
    font-family: "PT Sans" ;
    font-size: 3rem;;
    font-weight: 700;
    line-height: 5rem;

}

#btext{
    font-family: "Gotham Bold";
    font-weight: 800;
    color: black;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#htext{
    font-family: "Gotham-Medium";
    font-weight: 500;
    color:  rgb(58, 89, 109);
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.top>div{
    align-self: center;

}

.container{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cate{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}

.cate>div{
    padding: 25px;
    margin: auto;
    background-color: rgb(221, 223, 223);
}

.cate>div img{
    width: 80%;
    margin: auto;
    margin-top: 30px;

}
.cate>div>div:nth-child(1){
    width: 70%;
}
.main{
    background-color: rgb(215, 220, 224);
}
.HowItWorks{
    width: 75%;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.HowItWorks>div{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.HowItWorks>div>div{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
p{
    margin-top: 10px;
}

.why{
    width: 75%;
    margin: auto;
    padding: 30px;
}
.why>p{
    text-align: center;
    font-family: "Gotham-Medium";
    font-weight: 500;
    color:  rgb(58, 89, 109);
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.why>div{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.why>div>div{
    background-color: rgb(230, 232, 234);
    padding: 30px;
    display: flex;
    border-radius: 10px;
    
}

.reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 30px;
    text-align: center;
    color: rgb(108, 117, 125);
}
.reviews img{
    width:170px;
     height:150px;
    background-size:cover;
  background-position:center;
  border-radius:50%;
    
}

.bottom{
    padding: 50px;
    text-align: center;
    width: 100%;
    background: rgb(44,40,108);
background: linear-gradient(208deg, rgba(44,40,108,1) 0%, rgba(196,173,250,1) 100%);
}
.bottom>p{
    font-family: "Open Sans", Roboto, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
