
.container {
    font-family: Inter, "Open Sans", sans-serif;
    background-color: rgb(242, 242, 242);
    padding: 50px 0px 50px 0px;
    font-size: 1rem;
  }
  
  .main {
    width: 62%;
    display: flex;
    margin: auto;
    background-color: white;
  }
  
  .part01 {
      width: 50%;
    padding: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  
  button {
    cursor: pointer;
  }
  
  .part02 {
    width: 50%;
    padding: 45px 45px 10px 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .part02>div {
    display: flex;
    justify-content: space-between;
    border: 0px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .part02>div>a {
    align-self: center;
  }
  
  a {
    text-decoration: none;
    color: rgb(57, 127, 241);
    font-weight: 600;
  }
  
  input {
    background-color: rgb(250, 250, 250);
    padding: 8px 5px 8px 10px;
    width: 95%;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 6px;
    font-size: larger;
    
    margin-top: 10px;
  }
  
  input:focus {
    outline: none !important;
    border: 2px solid rgb(24, 24, 24);
  }
  
  
  .btn {
      color: white;
      background-color:  rgb(24, 24, 24);
      width: 100%;
      padding: 15px 0px 15px 0px;
      margin-bottom: 15px;
      font-size: 120%;
      border: 0px solid  rgb(24, 24, 24);
      border-radius: 5px;
  
      margin-top: 10px;    
  }
  
      .btn:hover{
          background-color: rgb(62, 62, 62);
      }
  
  
  .head {
    font-size: 110%;
    font-weight: 700;
  }
  
  .c {
    text-align: center;
  }
  
  .svg {
    margin-top: 10px;
  }
  p{
      margin-top: 10px;
  }